body {
  width: 100%;
  height: 300vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container:nth-child(1) { height: 200vh; }
.container:nth-child(2) { height: 0; }

.box {
  padding: 1em 2em;
  margin: 0 .5em;
  background: #ddd;
  will-change: transform;
}

.box::before {
  content: attr(data-timing);
}

.easeBox { transform: translateY(var(--ty)); }
.rotateBox { transform: rotate(var(--r)); }
.fadeBox { opacity: var(--o); }
